body {
    background-image: url(capybara.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    background-size: cover;
}

.balls {
     color:#AF8260;
    font-size: larger;
    background-color: #31363F;
    padding: 50px;
    text-align: center;
    opacity: 0.9;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-bottom: 1000px;
}

img {
    height: 1000px;
    width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;  
    margin-bottom: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.image {
    height: 200px;
    width: 200px;
}